.sectionDetailData {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
&__returnHome {
    color: black;
    padding: 10px;
    text-decoration: none;

&::before {
    content: '<'
}}

&__containerData {
    background-color: rgba(146, 7, 146, 0.884);

    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 700px;

    &--image {
        width: fit-content;

       
       
    }
    &--info {
        margin: 10px;
    }
}
}