.filterMainContainerSpecies {
    display: flex;
    flex-direction: column;
}

.labelSpecies {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100px;
}