.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__title{
        color: white;
        font-weight: bold;
    }

    &__logotipe {
        max-width: 200px;

        & img {
            width: 100%;
        }
    }
}